{% extends 'cars/base.html' %}

{% block content %}
<div class="filters">
    <div class="triangle-right"></div>
    <form class="filter" action="{% url 'home' %}" method="GET">
        <select id="brand-filter" name="brand">
            <option value="">Выберите фирму</option>
            {% for brand in brands %}
                <option value="{{ brand.slug }}" {% if request.GET.brand == brand.slug %} selected {% endif %}>{{ brand.name }}</option>
            {% endfor %}
        </select>
        <button class="apply-filters" type="submit">Применить</button>
    </form>
</div>

<p class="headline">Статьи об автомобилях</p>
<ul class="content">
    {% for p in posts %}
    {% if forloop.counter|divisibleby:2 %}
    <a class="article" href="{{ p.get_absolute_url }}">
        <li class="left">
            {% if p.photo %}
            <img class="img-article-left" src="/media/{{ p.photo }}" alt="Фото">
            {% endif %}
            <p class="title">{{ p.brand.name }} {{ p.title }}</p>
            <p class="short_content">{{ p.short_content }}</p>
        </li>
    </a>
    {% else %}
    <a class="article" href="{{ p.get_absolute_url }}">
        <li class="right">
            {% if p.photo %}
            <img class="img-article-right" src="/media/{{ p.photo }}" alt="Фото">
            {% endif %}
            <p class="title">{{ p.brand.name }} {{ p.title }}</p>
            <p class="short_content">{{ p.short_content }}</p>
        </li>
    </a>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}