{% extends 'cars/base.html' %}

{% block content %}
<div class="filters">
    <div class="triangle-right"></div>
    <form class="filter" action="{% url 'home' %}" method="GET">
        <select id="brand-filter" name="brand">
            <option value="">Выберите фирму</option>
            {% for brand in brands %}
                <option value="{{ brand.slug }}" {% if request.GET.brand == brand.slug %} selected {% endif %}>{{ brand.name }}</option>
            {% endfor %}
        </select>
        <button class="apply-filters" type="submit">Применить</button>
    </form>
</div>

<p class="headline">Статьи об автомобилях</p>
<ul class="content">
    {% for p in posts %}
    <a class="article" href="{{ p.get_absolute_url }}">
        <li>
            {% if p.photo %}
            <img class="img-article-left thumb" src="/media/{{ p.photo }}" alt="Фото">
            {% endif %}
            <!-- <p><a href="{{ p.get_absolute_url }}">{{ p.brand.name }} {{ p.title }}</a></p>
            <p>{{ p.short_content }}</p>   -->
        </li>
    </a>
    {% endfor %}
</ul>
{% endblock %}
