{% extends 'cars/base.html' %}
{% load cars_tags %}

{% block content %}
    <div class="filters">
        <div class="triangle-right"></div>
        <form class="filter" action="{% url 'home' %}" method="GET">
            <select id="brand-filter" name="brand">
                <option value="">Выберите фирму</option>
                {% for brand in brands %}
                    <option value="{{ brand.slug }}" {% if request.GET.brand == brand.slug %} selected {% endif %}>{{ brand.name }}</option>
                {% endfor %}
            </select>
            <select id="date-sort" name="sort">
                <option value="">Сортировать по дате</option>
                <option value="latest" {% if request.GET.sort == 'latest' %} selected {% endif %}>Сначала новые</option>
                <option value="oldest" {% if request.GET.sort == 'oldest' %} selected {% endif %}>Сначала старые</option>
            </select>
            <select id="author-sort" name="author">
                <option value="">Сортировать по авторам</option>
                {% for author in authors %}
                    <option value="{{ author.slug }}" {% if request.GET.author == author.slug %} selected {% endif %}>{{ author.username }}</option>
                {% endfor %}
            </select>
            <button class="apply-filters" type="submit">Применить</button>
        </form>
    </div>

    <p class="headline">Статьи об автомобилях</p>
    <ul class="content">
        {% for post in posts %}
            {% if forloop.counter|divisibleby:2 %}
                {% post_item post "left" %}
            {% else %}
                {% post_item post "right" %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
        {% include "cars/includes/pagination.html" with page_obj=page_obj %}
{% endblock %}
