{% extends 'cars/base.html' %}

{% block content %}
<main>
    <div class="login_block">
        <form method="post">
            {% csrf_token %}
            <p class="head_form">Вход</p>
            {% for f in form %}
                <p><label class="form_label" for="{{ f.id_for_label }}"></label></p>
                <p>{{ f }}</p>
                <div class="form_error">{{ f.errors }}</div>
            {% endfor %}
            <button class="login_btn" type="submit"><span>Войти</span></button>
            <div class="form_error">{{ form.non_field_errors }}</div>
        </form>
    </div>
</main>
{% endblock %}