{% extends 'cars/base.html' %}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.photo %}
<p><img class="img-article-left thumb" src="{{ post.photo.url }}"></p>
{% endif %}

{{ post.content }}
<p>Автор: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>  
<form method="POST" action="{% url 'add_like' post.slug %}">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
    <button type="submit">{{post.likes_amount}}</button>
    {% else %}
    <p>{{post.likes_amount}}</p>
    {% endif %}
</form>
{% endblock %}