{% extends 'cars/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if request.user.is_authenticated and user.get_absolute_url == request.path %}
        <a href="{% url 'editprofile' %}"><button type="submit">Изменить</button></a>
    {% endif %}

    {% if empty_message %}
        <p>{{ empty_message }}</p>
    {% else %}
        <ul>
            {% for p in posts %}
            <li class="article">
                {% if p.photo %}
                    <p class="link-read-post"><a href="{{ p.get_absolute_url }}"><img class="img-article-left thumb" src="/media/{{ p.photo }}" alt="Фото"></a></p>
                {% endif %}
                <h2><a href="{{ p.get_absolute_url }}">{{ p.brand.name }} {{ p.title }}</a></h2>
                <p>{{ p.short_content }}</p>
                {% if p.is_published == False %}
                    <p class="link-read-post"><a>На проверке</a></p>
                {% endif %}
                <hr>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
