{% extends 'cars/base.html' %}

{% block content %}
<main>
    <div class="register_block">
        <form method="post">
            {% csrf_token %}
            <p class="head_form">Регистрация</p>
            {% for field in form %}
                <p><label class="form_label" for="{{ field.id_for_label }}"></label></p>
                <p>{{ field }}</p>
                <div class="form_error">{{ field.errors }}</div>
            {% endfor %}
            <button class="register_btn" type="submit"><span>Регистрация</span></button>
            <div class="form_error">{{ form.non_field_errors }}</div>
        </form>
    </div>
</main>
{% endblock %}