body {
	margin: 0;
	overflow-x: hidden;
}

header {
	display: flex;
	margin: 0;
	width: 100%;
	height: 60px;
	position: fixed;
	background-color: #f6f4f4;
}

.content-text {
	display: inline-block;
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 20px;
	font-family: Yandex Sans Display Light;
	height: 100%;
	width: 100%;
	flex-grow: 1;
}
.content-text h1 {font-size: 32px;}

header {
	background: #eee;
	height: 60px;
	position:  fixed;
	width: 100%;
}

.home {
	margin: 40;
	/* background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px; */
}

.left-chapters {
	margin: 40px 0 0 0;
	background: #eee;
	border-right: 1px solid #ccc;
	height: 100vh;
	float: left;
	overflow-y: auto;
}
.left-chapters ul {
	display: inline-block;
	width: 230px;
	height: 100%;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
	position:  static;
}

.left-chapters ul li {
	margin: 30px 0 0 0;
}

.headline {
	font-family: sans-serif;
	font-size: 60px;
	font-weight: bold;
	float: right;
	margin: 10px 50px 0 0;
}

.triangle-right {
	display: block;
	margin: 7px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 30px solid #0aabea;
	border-bottom: 13px solid transparent;
	float: right;
}

.filters {
	margin: 20px -30px;
	position: fixed;
	height: 40px;
	width: 700px;
	background-color: #f6f4f4;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	left: -628px;
	transition: all 0.5s;
	transition-delay: 0.5s;
}

.filters:hover {
	left: 28px;
	transition: all 0.5s;
}

.apply-filters {
	margin: 0 29px;
	float: right;
	padding: 5px 10px;
	border: none;
	background-color: #0aabea;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.filter {
	margin: 7px 5px 0 30px;
}

div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	color: #0ad3ea;
	font-size: 20px;
	overflow: hidden;
}

ul.mainmenu li {
	float: left;
	margin: 18px 5px 0 30px;
}

ul.mainmenu li.selected {
	color: #ff0303; 
}

ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {
	float: right;
}

ul.mainmenu li a {
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: #0aabea;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #0aabea;
}

.left {
	list-style-type: none;
	display: block;
	width: 1200px;
	height: 200px;
	background-color: #f6f4f4;
	border-radius: 40px;
	float: left;
	margin: 15px 0 15px -10px;
	transition: all transform 0.2s;
}

.left:hover {
	list-style-type: none;
	display: block;
	width: 1210px;
	height: 210px;
	background-color: #f6f4f4;
	border-radius: 40px;
	float: left;
	margin: 10px 0 10px -10px;
	transition: all transform 0.5s;
}

.right {
	list-style-type: none;
	display: block;
	width: 1200px;
	height: 200px;
	background-color: #f6f4f4;
	border-radius: 40px;
	float: right;
	margin: 15px 35px 15px 0;
	transition: all transform 0.2s;
}

.right:hover {
	list-style-type: none;
	display: block;
	width: 1210px;
	height: 210px;
	background-color: #f6f4f4;
	border-radius: 40px;
	float: right;
	margin: 10px 35px 10px 0;
	transition: all transform 0.5s;
}

.title_left {
	margin: 20px 0 0 30px ;
	font-family: sans-serif;
	font-size: 60px;
	font-weight: bold;
	float: left;
	text-transform: uppercase;
	transition: all transform 0.5s;
}

.short_content_left {
	margin: 100px 30px 0 322px;
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: #0aabea;
	text-decoration: none;
}

.short_content_right {
	margin: 100px 350px 0 30px;
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: #0aabea;
	text-decoration: none;
}

.title_right {
	margin: 20px 0 0 30px ;
	font-family: sans-serif;
	font-size: 60px;
	font-weight: bold;
	float: left;
	text-transform: uppercase;
	transition: all transform 0.5s;
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	font-family: Sans-serif, Arial, Tahoma;
}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li a {
	color: #0059b2;
	text-decoration: none;
}

img {width: 300px; height: auto;}

img.img_article_left {
	height: 100%;
	width: 300px;
	float: left;
	margin: 0 -5px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	object-fit: cover;
	overflow: hidden;
}

img.img_article_right {
	height: 100%;
	width: 300px;
	float: right;
	margin: 0 -5px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	object-fit: cover;
	overflow: hidden;
}

img.user-photo {
	border-radius: 100%;
	margin: 5px 10px 0 0;
	width: 50px;
	height: 50px;
	float: right;
	object-fit: cover;
	overflow: hidden;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}

main {
	margin: -50px 0 0 -30px;
	overflow-x: hidden;
	overflow-y: hidden;
	background: url(/media/photos/background/gtr.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
}

.login_block {
	border-radius: 20px;
	width: 330px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -175px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	backdrop-filter: blur(20px);
	padding: 20px;
}

.register_block {
	border-radius: 20px;
	width: 330px;
    height: 550px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -125px 0 0 -175px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	backdrop-filter: blur(20px);
	padding: 20px;
}

.form_error {
	list-style: none;
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin: 0 0 0 -20px;
	padding: 0;
	color: #ffffff;
	width: 100%;
}

.head_form {
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	margin: 10px;
}

.form-input {
	background-color: #ffffff;
	border-radius: 5px;
	height: 45px;
	width: 323px;
	line-height: 16px;
	border: 3px solid rgba(255, 255, 255, .5);
	font-size: 20px;
}

.login_btn {
	margin: 2px 130px;
	padding: 5px 10px;
	border: none;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.login_btn:hover {
	margin: 0 128px;
	padding: 7px 12px;
	border: none;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.login_btn span {
	font-size: 20px;
}

.register_btn {
	margin: 2px 100px;
	padding: 5px 10px;
	border: none;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.register_btn:hover {
	margin: 0 98px;
	padding: 7px 12px;
	border: none;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.register_btn span {
	font-size: 20px;
}


.list-pages {
	margin-top: 20px;
	text-align: center;
}

.list-pages ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.list-pages li {
	display: inline-block;
	margin-right: 5px;
}

.list-pages li a {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #0aabea;
	color: #fff;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	border: 2px solid #0aabea;
}

.list-pages li.page-num-selected a {
	background-color: #eee;
	color: #0aabea;
}

/* users */

#users-list img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#users-list .user {
    width: 180px;
    float: left;
    overflow: auto;
    padding: 10px;
}

#users-list .user::-webkit-scrollbar {
	width: 0;
}

#users-list .info { 
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
}

#users-list .count_followers {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
}

#users-list .total_followers {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
}

img.user-detail {
    border-radius: 50%;
    float: left;
}

.profile-info {
    float: left;
    overflow: auto;
    margin-right: 20px;
}

.image-container { 
	margin-top: 40px;
	margin-left: 20px;
}